<div id="<%= dom_id book %>">
  <p>
    <strong>First name:</strong>
    <%= book.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= book.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= book.email %>
  </p>

</div>
